<div class="footer">
   <div class="mt-4 mb-2">
    <a href="https://www.linkedin.com/in/binu-kumar-5a7038146/" target="blank" class="ml-2"><i
        class="fab fa-linkedin"></i></a>
    <a href="https://www.facebook.com/binu.kumar.90857" target="blank" class="ml-2"><i
        class="fab fa-facebook-square"></i></a>
    <a href="https://www.instagram.com/" target="blank" class="ml-2"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/Binu42" target="blank" class="ml-2"><i class="fab fa-github"></i></a>
  </div>
  <div class="mb-3">
    <div class="d-sm-inline mr-4">
      Binu Kumar &copy; 2019
    </div>
    <div class="d-inline ml-md-4 code"><a href="https://github.com/Binu42/Employee" target="_blank"><i class="fab fa-git-square" aria-hidden="true"></i> Source Code</a>
    </div>
  </div>
</div>