<nav class="navbar navbar-expand-sm navbar-dark bg-success text-uppercase">
    <a class="navbar-brand" href="/">Employee</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon toggle"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
            <li class="nav-item active mr-2">
                <a class="nav-link" href="/profile/add"><i class="fa fa-plus-circle" aria-hidden="true"></i> ADD
                    Employee</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action='/profile/search' method="post">
            <input class="form-control mr-sm-2" type="text" placeholder="Search By Name" name='name'>
            <input type="submit" value="Search" class="btn btn-dark">
        </form>
    </div>
</nav>